<%- include('../partials/head') %>
<link rel="stylesheet" href="output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="h-screen bg-gradient-to-b from-red-200 to-gray-100 flex flex-col justify-center items-center px-10 overflow-hidden">
    <div class="flex-col items-center justify-center text-center font-serif w-fit p-14 pb-10 pt-8">
      <h1 class="flex-row items-center justify-center text-center text-4xl font-extrabold font-serif mb-14"> &#x2705 Home Registered Successfully</h1>
      <div class="relative hover:text-red-600 text-xl transition-colors duration-300 group cursor-pointer">
        <a href="/" class=" mr-2"> &#8592 </a>
        <a href="/"> Go back </a>
      </div>

    </div>
  </div>
</body>
</html>