<%- include('../partials/head') %>
<link rel="stylesheet" href="output.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="min-h-screen w-full py-16 bg-gradient-to-b from-red-200 to-gray-100 font-serif shadow-lg mt-7">
    <div class="max-w-6xl mx-auto text-center">
      <h1 class="text-6xl font-bold text-red-600 drop-shadow-lg mb-4">My Bookings</h1>
      <p class="text-base text-gray-800 opacity-90">
        Your Bookings will appear here
      </p>
    </div>
  </div>
</body>
</html>