<%- include('./partials/head') %>
</head>
<body>
    <h1> Error 404 <br/>
      Lost in the Digital Wilderness
    </h1>
    <p>You've ventured into uncharted territory. The page you seek has eluded us. Let's guide you back to familiar paths.</p>
  
</body>
</html>