<form action="/favorites" method="post" class="flex-1">
  <button type="submit" class="w-full bg-red-500 text-white font-semibold px-5 py-2 rounded-xl shadow-lg hover:bg-red-600 transform hover:scale-105 transition">Add to Favorites</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>